* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abril Fatface', cursive;
    background-color: rgba(140, 206, 183, 0.034);
    background-color:silver;
    background-image: 
    radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size:100px 50px;
}

.logo {
    width: 55px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;
    position: absolute;
    top:0;
    width: 100%;
    background-color:black;
    background-color:silver;
    background-image: 
    radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size:100px 50px;
    box-shadow: 5px 5px 3px #DC143C;
}

header .burger {
    display: none;
    font-size: 30px;
}
    
header nav ul {
    list-style: none;
    display: flex;
    font-size: 35px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: 	rgb(173, 9, 42);
    background-color: white;
  
}

a:hover {
    color: rgb(228, 189, 189);
}

a.activo {
    color: rgb(190, 132, 6)
}

h1 {
    font-size: 80px;
    color: 	#DC143C;
    font-family: 'Abril Fatface', cursive;
}

.hero {
    height: 100vh;
    background-image: url('../img/architecture-3070493_1920.jpg');
    background-position: top;
    background-size: cover;
    /* background-attachment: fixed; */ /*para evitar problemas en retina*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.ultima {
    margin-bottom: 40px
}

.fila {
    padding: 40px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;

}

.col1 {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 10px;
    
}

.col3 {
    flex-basis: 300px;
    flex-grow: 3;
    padding: 10px;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 4px 4px #DC143C;   
}
.col3p {
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 19px
}
.centrado {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 70px;
    flex-direction: column;
}


/* botones */

.separador {
    border: solid 2px darkslategray;
    display: none;
    width: 60%;
}
.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 40px;
}
.col1.columna {
    font-size: 35px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 4px 4px crimson;
}




/* newsletter */

.col100 {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DC143C;
    border-radius: 15px;
    font-size: 25px;
}

input {
    color: #DC143C;
    font-size: 20px;
    padding: 10px;
    border: solid 2px gray;
}

.newsletter{
    font-size: 30px;
    color: black;
    margin:10px 30px
}

.input_newsletter {
    color: #DC143C;
    font-size: 20px;
    padding: 15px;
    border: 4px solid rgb(78, 3, 18);
    margin:10px 30px;
    border-radius: 10px;
}

.boton_newsletter {
    background: -webkit-linear-gradient(top, #DC143C, rgb(236, 45, 83));
    color: white;
    font-size: 20px;
    padding: 15px;
    border: 4px solid rgb(78, 3, 18);
    margin:10px 30px
    
}

.boton_newsletter:hover {
    background-color: rgba(223, 65, 21, 0.377);
    border: 4px solid rgba(223, 65, 21, 0.445);
    cursor: pointer
}

.input_newsletter:focus, .boton_newsletter:focus {
    outline: none;
}

/* footer */
footer {
    position: relative;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23cdcad2' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    box-shadow: 4px 4px 4px 4px #DC143C;
    color: crimson;
    flex-wrap: wrap;
    display: flex;
    width: 100% 
}

.izquierda {
    /* border: solid 2px white; */
    color: black;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px
}
.derecha {
    /* border: solid 2px white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px
}

.derecha a {
    text-decoration: none 
}

.centro {
    /* border: solid 2px white; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color: black;
    font-family: 'Abril Fatface', cursive;
}

.centro a {
    text-decoration: none 
}
.minifooter p {
    font-size: 14px;
    padding: 5px;
}

footer p {
    padding: 0; 
    margin: 0; 
    text-align: center;
}

footer a {
   color: black;
}

footer a:hover {
    color: rgb(241, 47, 47); 
}

.aviso {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row ;
    padding-top: 15px;
    justify-content: space-around;
    font-size: 15px;
    text-decoration-line: underline;
}

.col11 {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
    margin: 75px;
    box-shadow: 4px 4px 2px crimson; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
    display: flex
}

.col12 {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    display: flex;
    box-shadow: 4px 4px 2px crimson;
    font-family: 'Abril Fatface', cursive;
    height: 200px;
    background-color: white;
    flex-basis: 300px;
    flex-grow: 1;
    text-align: center;
    font-size: 25px
}
.fila6 {
    display: flex;
    margin: 40px;
    justify-content: center;
    align-items: center
}
/* Formulario*/

.contenedr {
    display: flex;
    flex-direction: column; /*el eje prioncipal es vertical*/
    align-items: center; /*centramos en el eje secundario que en este caso es el horizontal*/

 
}

form {
    margin: 40px 0 40px;
    width: 70%;
    padding: 12.5px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
    background-color: white;
    z-index: 1;
    padding: 42px;
    box-shadow: 4px 4px 2px crimson;
}

h2 {
    font-size: 26px;
    text-align: center;
    border: solid 2px crimson;
    color: white;
    background-color: crimson;

}

.file {
    display: flex;
}

.col50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

label {
    padding: 5px;
    opacity: 0;
    transition: 3s;
}

input {
    font-size: 18px;
    padding: 5px;
    border: solid 2px #DC143C;
}

input:focus {
    background-color: white;
    color: black;
    outline: none;
}

input::-webkit-input-placeholder {
    color: black;
}

#Nombre::-webkit-input-placeholder {
    background-image: url('../img/male-user.svg');
    background-repeat: no-repeat;
    padding-left: 25px;
}

#Apellidos::-webkit-input-placeholder {
    background-image: url('../img/harry-potter.svg');
    background-repeat: no-repeat;
    padding-left: 25px
}

.col101 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.col33 {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.col66 {
    width: 66%;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

select {
    -webkit-appearance: none;
    color: black;
    border: solid 2px #DC143C;
    font-size: 20px;
    padding: 5px;
    background-image: url('../img/23670.svg');
    background-repeat: no-repeat;
    background-position: 95% 5px
}

select:focus {
    background-color: rgb(30, 95, 30);
    color: white;
    outline: none;
    background-image: url('../img/23670.1.svg');
    background-repeat: no-repeat;
}

.col100radio {
    display: flex;
    width: 100%;
    padding: 10px;
}

.radio {
    opacity: 1
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+.radio:before {
    content: url('../img/circle-outline.svg');
    position: relative;
    top: 5px;
    padding-right: 10px;
}

input[type="radio"]:checked+ .radio:before {
    content: url('../img/checked.svg');
}

#telefono::-webkit-input-placeholder {
    background-image: url('../img/old-typical-phone.svg');
    background-repeat: no-repeat;
    padding-left: 25px;
}

#mail::-webkit-input-placeholder {
    background-image: url('../img/male-user.svg');
    background-repeat: no-repeat;
    padding-left: 30px
}

.check {
    opacity: 1;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+.check:before {
    content: url('../img/circle-outline.svg');
    position: relative;
    top: 5px;
    padding-right: 10px;
}

input[type="checkbox"]:checked+ .check:before {
    content: url('../img/checked.svg');
}

.col101check {
    display: initial;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between
}

input[type="submit"] {
    background-color: #8c0b0b;
    color: black;
    font-size: 20px;
    width: 40%;
    border: solid 2px #662c05;
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}

input[type="submit"]:hover {
    background-color: #DC143C;
    color: black;
    cursor: pointer;
}


#condiciones:checked~input[type=submit] {
opacity: 1
}

/* Aviso legal y cookies */

p.uno {
    color: black;
    display: flex;
    align-content: center;
    flex-basis: 300px;
    flex-grow: 3;
    margin: 120px;
    padding: 50px;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 4px 4px #DC143C;  
}

/* alquiler y adquisicion */

.contenedor2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px); /*auto-fit crea tantas columnas como necesitamos del ancho especificado*/
    grid-template-rows: repeat(2, 450px);
    grid-gap: 40px;
    justify-content: space-around;
    margin: 100px
}

.tarjeta2 {
    width: 300px;
    height: 450px;
    box-shadow: 2px 2px 4px crimson;
    padding: 10px;
    background-color: white;
}

.imagen2 {
    width: 300px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-right: 15px;
    padding-top: 10px
}

.imagen2 img {
    height: 200px;

}

.datos2 {
   
    display: flex;
    flex-direction: column;
    height: 250px;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
}

.top2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}
.direccion2 p:first-child {
    color: black;
    font-weight: bold;
}


.direccion2 {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-right: 15px;
    padding-top: 10px */
}

.rrss {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
    width: 100%;
}


.btn2 {
    background: -webkit-linear-gradient(top, crimson, red);
    color: black;
    padding-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    border-bottom: 4px solid rgb(168, 3, 36);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    align-items: center;
    width: 35vh;
    height: 40px;
}

/* breadcrums */

.breadcrumbs {
    margin: 130px 0 0 30px;
}

.breadcrumbs a {
    background-color: crimson;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
}

/* posicionamiento */

.derecha2 {float: right; margin: 10px;}
.izquierda2 {float: left; margin: 10px}

.paginacion {text-align: center;
    margin: 10px;
}
.paginacion a {background-color: white; 
    color: black; font-size: 22px; 
    padding: 5px; 
    border: none; 
    border-radius: 5px;
    text-decoration: none;
    border: solid 2px black; border-radius: 5px
}

.pagina {background-color: white; 
    color: black; font-size: 22px; 
    padding: 5px; 
    border: none; 
    border-radius: 5px;
    text-decoration: none 
}

.paginacion .pagina2 {background-color: rgb(145, 152, 146); 
    color: black; font-size: 22px; 
    padding: 5px; 
    border: none; 
    border-radius: 5px;
    text-decoration: none 
}

/* aviso */

.fila2 {
    padding: 40px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    background-color: white
}

.col333 {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 10px;
}

/* info */
.titulo {
padding: 60px 60px 0px 90px;
display: flex;
flex-wrap: wrap;
font-size: 22px;
background-color: white;
border-radius: 15px;
}

.fotos {
    padding: 30px 40px 0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0x 20px;
    background-color: white;
    box-shadow: 4px 2px crimson
}

.fila3 {
    padding: 40px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    background-color: white
}

.fila p {
    background-color: white;
    text-align: justify;
   padding: 40px
}
.col22 {
justify-content: center;
 margin-left: 400px;
 margin-top: 20px 
}

/*Media Queries*/

@media (min-witdh: 1359px ) {
    hero {
        background-attachment: fixed;
    }
}

@media (max-width: 920px) {
    .centro, .izquierda, .derecha {
        align-items: center;
        flex-direction: column
        /* flex-basis: 200px */
    }
    nav {
        display: none;
    }
    header .burger {
        display: initial;
    }
    .hero h1 {
        font-size: 36px;
        text-align: center;
    }
    .hero h2 {
        font-size: 26px;
        text-align: center;
    }
    .columna img {
        height: 160px;
    }
    .columna.boton {
        margin: 40px;
        font-size: 18px;
        padding: 12px;
        border-radius: 10px
    }
    .newsletter {
        font-size: 24px;
        text-align: center;
    }
    .boton_newsletter {
        font-size: 18px;
        padding: 12px;
        border-radius: 10px;
    }

    .input_newsletter {
        font-size: 20px;
        padding: 15px;
        border-radius: 10px
        }
    
}
}


@media (max-width: 740px) {
    nav {
        display: none;
    }
    header .burger {
        display: initial;
    }
    .hero h1 {
        font-size: 36px;
        text-align: center;
    }
    .hero h2 {
        font-size: 26px;
        text-align: center;
    }
    .columna img {
        height: 160px;
    }
    .columna.boton {
        margin: 40px;
        font-size: 18px;
        padding: 12px;
        border-radius: 10px
    }
    .newsletter {
        font-size: 24px;
        text-align: center;
    }
    .boton_newsletter {
        font-size: 18px;
        padding: 12px;
        border-radius: 10px;
    }

    .input_newsletter {
        font-size: 20px;
        padding: 15px;
        border-radius: 10px
        }
    
}

@media (max-width: 640px) {
    .fila2 { 
   flex-direction: column;
   align-items: center;
}
    .separador {
    display: initial;
   }
   .columna {
       margin-top: 20px
   }
   .slogan {
       font-size: 28px;
   }
   .col100 {
       flex-direction: column;
       align-items: center;
   } 
}
   
}
@media (max-width: 420px) {
    body {
        font-size: 18px;
    }
    .fila2 {
        margin: 20px 10px;
    }

}